HA_URL=
HA_TOKEN=
HA_ENTITY_IDS=sensor.iot_cn_2047343303_padw2p_electric_power_p_3_3,sensor.cuco_cn_534987372_cp5prd_electric_power_p_10_5,sensor.cuco_cn_699137676_v3_electric_power_p_11_2
PG_HOST=
PG_PORT=
PG_DBNAME=
PG_USER=
PG_PASSWORD=